.input-dashboard {
  .input-list {
    display: grid;
    gap: 20px 40px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
  }

  .input-list-wrap {
    text-align: left;

    .input-wrap-title {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .input-wrap {
      align-items: center;
      border-radius: 10px;
      border: 1px solid #e8eaee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px 25px;
      position: relative;
      .flex-wrap {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        width: 100%;
      }
      .dashboard-input {
        flex: 1;
        padding: 10px 12px;
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
        color: #333333;

        &:focus {
          outline: none;
          border-color: #6d45ff;
        }

        &.Search {
          padding-left: 12px !important;
          border-radius: 20px !important;
        }
      }
      .svg-icon-search {
        position: absolute;
        top: 29%;
        transform: translateY(-50%);
        right: 38px;
        color: #8e9196;
        pointer-events: none;
      }

      .input-tool-wrap {
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #abadc6;
        cursor: pointer;
        height: 34px;
        line-height: 41px;
        margin-top: 10px;
        width: 34px;

        .input-icon {
          height: 18px;
        }
      }
    }
  }
}

.input-container {
  position: relative;
  padding: 0px 12px;
}
.svg-icon-search-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #8e9196;
  pointer-events: none;
  height: 18px;
  width: 18px;
}
