
  .logo {
    height: 40px;
  }

  .nav-wrap {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }

  .nav-icon {
    height: 20px;
  }

  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 14px;

    a {
      text-decoration: none !important;
      color: #24242f;
    }
  }

  